.card {
  width: 225px;
  height: 225px;
}

.cardImage {
  display: block;
  object-fit: cover;
  width: 225px;
  height: 225px;
  position: absolute;
}

.activeCard:hover {
  opacity: 100%;
  transform: scale(1.14);
}

.gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 58.85%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 143px;

  width: 100%;
  height: 82px;
}

.activeCard {
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24), 0px 9px 18px rgba(0, 0, 0, 0.18);

  width: 225px;
  height: 225px;
  position: absolute;

  opacity: 0%;
  transition-duration: 0.3s;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
}

.likeImage {
  position: absolute;

  left: 171px;
  top: 24px;
}

.likeImage path {
  fill: #f24e1e;
  transition: 0.1s linear;
  animation: dislike__animated 0.5s;
}

.likeImage:hover path {
  d: path(
    "M20 36.7L17.1 34.06C6.8 24.72 0 18.56 0 11C0 4.84 4.84 0 11 0C14.48 0 17.82 1.62 20 4.18C22.18 1.62 25.52 0 29 0C35.16 0 40 4.84 40 11C40 18.56 33.2 24.72 22.9 34.08L20 36.7Z"
  );
  fill: #f24e1e;
}

.like path {
  d: path(
    "M20 36.7L17.1 34.06C6.8 24.72 0 18.56 0 11C0 4.84 4.84 0 11 0C14.48 0 17.82 1.62 20 4.18C22.18 1.62 25.52 0 29 0C35.16 0 40 4.84 40 11C40 18.56 33.2 24.72 22.9 34.08L20 36.7Z"
  );
  fill: #ff3a00 !important;
  animation: like__animated 0.5s;
}

@keyframes like__animated {
  0% {
    transform-origin: center;
    transform: scale(0.7);
    fill: #f24e1e;
  }
  100% {
    transform-origin: center;
    transform: scale(1);
    fill: #ff3a00 !important;
  }
}

@keyframes dislike__animated {
  0% {
    transform-origin: center;
    transform: scale(0.7);
    fill: #ff3a00 !important;
  }
  100% {
    transform-origin: center;
    transform: scale(1);
    fill: #f24e1e;
  }
}
